body {
    color: white;
    text-align: center;
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
    margin: 0 auto;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center
}

.cell img {
    width: 25px;
    height: auto
}

.floor {
    background-color: rgb(163, 157, 157)
}

.wall {
    background-color: rgb(44, 44, 165);
}

.passage {
    background-color: rgb(163, 157, 157);
}

.restart {
    border-radius: 50px;
    outline: none;
    background-color: red;
    height: 40px;
    margin-top: 10px;
}

h1,
h2 {
    margin-top: 10px;
    color: red;
}